<sly data-sly-use.linkModel="com.ace.IconSlingModel" />




<section class="footer-icons">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="hidden-sm-down pull-left">
                    <li>
                        <a href="${properties.logoUrl}">
                            <img src="${properties.companyLogo}" alt="Perficient, Inc">
                        </a>
                    </li>
                    <!-- BEGIN FOOTER NAVIGATION -->
                    
                    <li>
                        <a href="${properties.pLink}">"${properties.policyLabel}</a>
                    </li>

                    <!-- END FOOTER NAVIGATION -->
                    <li>
                        © "${properties.aboutLabel}
                    </li>
                </ul>
                <!-- Begin Footer Icons-->
                
                    <ul class="list-unstyled">
                    		<sly data-sly-repeat.sky="${linkModel.list}">	
                            <li>
                                <a href="${sky.iconLink}">
                                	<i class="${sky.iconClass}"></i>
                                </a>
                            </li>

                    </ul>
                <!-- End Footer Icons-->
            </div>
        </div>
    </div>
</section>



<footer>



                    </ul>
                <!-- End Footer Icons-->
            </div>
        </div>
    </div>
</section>
 
 
 
<footer>
 
 
 
  <div class="desktop-footer">
    <div class="footer-slogan">
     "${properties.sloganLabel}
    </div>
    <div class="footer-links hidden-md-up">
      <ul>
        <li>
          <a href="#">Site Map</a>
        </li>
        <li>
          <a href="#">Privacy Policy</a>
        </li>
      </ul>
      <p>© 2016 Perficient, Inc. All Rights Reserved</p>
    </div>
 
 
<!-- XXXXXXXXXXXXXXXXXXXXXXX Contact Us and Share This Page  XXXXXXXXXXXXXXXXXXXXXXXX
    <button class="pull-right hidden-sm-down" type="button" id="contact-trigger-overlay">Contact Us</button>
    <div class="footer-share">
      <button class="dropdown-toggle" id="sharethis" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Share This Page            
      </button>
      <div class="dropdown-menu sharelinks" aria-labelledby="sharethis">
        <ul class="list-unstyled">
          <li>
            <a href="#"><i class="fa fa-twitter"></i>Twitter</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-facebook-square"></i>Facebook</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin-square"></i>LinkedIn</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-envelope-o"></i>Email</a>
          </li>
        </ul> 
      </div>   
    </div>
-------------------------------------------  -->
 
 
  </div>
   
</footer>
Line 24, Column 48
 
Properties
Access Control
Replication
Console
Build Info

 
  <div class="desktop-footer">
    <div class="footer-slogan">
      Vision. Execution. Value.
    </div>
    <div class="footer-links hidden-md-up">
      <ul>
        <li>
          <a href="#">Site Map</a>
        </li>
        <li>
          <a href="#">Privacy Policy</a>
        </li>
      </ul>
      <p>© 2016 Perficient, Inc. All Rights Reserved</p>
    </div>


<!-- XXXXXXXXXXXXXXXXXXXXXXX Contact Us and Share This Page  XXXXXXXXXXXXXXXXXXXXXXXX
    <button class="pull-right hidden-sm-down" type="button" id="contact-trigger-overlay">Contact Us</button>
    <div class="footer-share">
      <button class="dropdown-toggle" id="sharethis" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Share This Page            
      </button>
      <div class="dropdown-menu sharelinks" aria-labelledby="sharethis">
        <ul class="list-unstyled">
          <li>
            <a href="#"><i class="fa fa-twitter"></i>Twitter</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-facebook-square"></i>Facebook</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin-square"></i>LinkedIn</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-envelope-o"></i>Email</a>
          </li>
        </ul> 
      </div>   
    </div>
-------------------------------------------  -->


  </div>
   
</footer>