

 <section class="hero red left circle-grey" id="hero-services">
        <div class="hero-background-container">

            <img class="hero-background large-loaded" src="${properties.fileReference}"
data-image="${properties.fileReference}"/>
        </div>
    <div class="color-container left">
            <h2 class="content-circle">${properties.circleContent}</h2>
        <i class="icon icon-blockangle"></i>
        <div class="hero-content">
            <h1>${properties.heroContent}</h1>
        </div>
    </div>
</section>








